<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[ '/inicio' ]"  href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ '/solicitud' ]"  href="#">Realizar Solicitud <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ '/estadoSolicitud' ]"  href="#">Estado Solicitud <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ '/verSolicitudes' ]"  href="#">Ver Solicitudes <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ '/verInspecciones' ]"  href="#">Ver Inspecciones <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ '/estadisticas' ]"  href="#">Ver Graficas <span class="sr-only">(current)</span></a>
          </li> <li class="nav-item active">
            <a class="nav-link" [routerLink]="[ '/login' ]"  href="#">Login <span class="sr-only">(current)</span></a>
          </li>
      </ul>
    </div>
  </nav>